<?xml version="1.0"?>
<users>
<currency>USD</currency>
<posX>10</posX>
<posY>10</posY>
  <current>0</current>
   <user>
      <name>Jan</name>
      <surname>Kowalski</surname>
      <wallet>
         <tens>10</tens>
         <twenties>1</twenties>
         <fifties>1</fifties>
         <hundreds>1</hundreds>
         <twohundreds>1</twohundreds>
         <fivehundreds>1</fivehundreds>
      </wallet>
      <cards>
      <current>0</current>
         <card>
            <pin>1203</pin>
            <locked>NO</locked>
            <credit>25500.00</credit>
         </card>
      </cards>
   </user>
   <user>
      <name>Joanna</name>
      <surname>Krupówki</surname>
      <wallet>
         <tens>1</tens>
         <twenties>1</twenties>
         <fifties>1</fifties>
         <hundreds>1</hundreds>
         <twohundreds>1</twohundreds>
         <fivehundreds>1</fivehundreds>
      </wallet>
      <cards>
      <current>0</current>
         <card>
            <pin>1224</pin>
            <locked>YES</locked>
            <credit>1500.00</credit>
         </card>
      </cards>
   </user>
</users>